= simple_form_for(@puppet_module) do |f|
  = f.error_notification

  .form-inputs
    = f.input :name
    = f.input :slug
    = f.input :uri
    = f.input :downloads
    = f.input :supported
    = f.input :homepage_url
    = f.input :owner
    = f.input :current_release_version
    = f.input :release_supported

  .form-actions
    = f.button :submit
