!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "width=device-width, initial-scale=1, shrink-to-fit=no", :name => "viewport"}/
    %title EnterpriseWebapp
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = javascript_include_tag *webpack_asset_paths("application")
  %body
    = render 'layouts/header'
    = render 'layouts/messages'
    .container-fluid
      = yield
  %script{:src => "http://localhost:3808/webpack-dev-server.js"}
